<app-card title="CUSTOMERS" subtitle="List of Customers" >
    <table class="table table-bordered">
        <thead>
            <th>Sno</th>
            <th>Name</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>JUMA</td>
                <td>
                    <button mat-raised-button color="primary" (click)="onEdit()">EDIT</button> &nbsp;
                    <button mat-raised-button color="warn">DELETE</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>ASHA</td>
                <td>
                    <button mat-raised-button color="primary" (click)="onEdit()">EDIT</button> &nbsp;
                    <button mat-raised-button color="warn">DELETE</button>  
                </td>
            </tr>

        </tbody>
    </table>
</app-card>